.navbar {
  background-color: #3498db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-title {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos del menú de enlaces */
.navbar-links ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #e1e1e1;
}

/* Estilos para el menú hamburguesa */
.mobile-menu-icon {
  display: none;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #3498db;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .navbar-links.open {
    display: flex;
    max-height: 300px;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .mobile-menu-icon {
    display: inline-block;
  }
}

/* Estilos adicionales para el dropdown de servidores */
.environment-select {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.environment-dropdown {
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.environment-dropdown option {
  background: #3498db;
  color: #ffffff;
}